table{
    border: 1px solid grey;
    margin: 0 auto;
    border-collapse: collapse;
}
tr{
    text-align: center;
}
td{
    border: 1px solid grey;
   
}
input{
    width: 204px;
    height: 51px;
    border: none;
}
.grey{
    background-color:#CCCCCC;
    color: #3399CC;
}
.blue{
    background-color: lightskyblue;
    color: white;
    height: 100px;
    width: 50px;
}
.nu{
       width: 50px;      
}
.tu{
    width: 100px;
}
.screen{
    text-align: right;
    background-color: white;
    color: black;
}
